{% extends 'user_nav.html' %}
{% load static %}


{% block body %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
    background-image: url("https://images.pexels.com/photos/7116587/pexels-photo-7116587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  font-family: 'Raleway', sans-serif;
  
background-attachment: fixed;
   
-webkit-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    

.header{
 /* background:#e9e9e9; */
 width:100%;
 height: 30%;
 padding:1rem;
}

.header_img{
  min-width: 60%;
  height: 25rem;
}

.wb-stl-heading1 {
           top:200px;
            position:absolute;
            text-align: center;
            font-size: 4rem;
            font-family: 'Roboto Slab', serif;
        }
.woman_icon{
    margin-top:0px;
}
.content{
    top:200px;
    left:320px;
    position:absolute;
     font-family: 'Raleway', sans-serif;
  margin:auto;
  min-width: 10%;
  max-width: 60%;
padding:1rem;
  
background-attachment: fixed;
background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

   
 

   
.ngo_heading{
    text-align:center;
    margin:20px 0;
    font-weight: 800;
    font-size:2rem;
}
.content button{
  display: inline;
  background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
 
  color: #141313;
  border:0 black solid;
  font-size: 1.1rem;
  padding: 0.3rem 0.4rem;
  margin:2% 3%;
}
.content button:hover{
  transition: 0.3s;
  opacity: 0.85;
  cursor:pointer;
}
.helpline{
    margin-top: 3rem;
    padding: 10px;
    min-width:6rem;
    width:25%;
    display: inline;
    background-image: linear-gradient(to right top, #40c6c9, #2e70c7, #20397c);
    color: #ffffff;
    border:0 black solid;
    font-size: 1.1rem;
    padding: 0.3rem 0.4rem;
}

.helpline:hover{
  transition: 0.3s;
  opacity: 0.85;
  cursor:pointer;
}
a{
    text-decoration: none;
}
  </style>

  <br>
  <br>

    <h1 class="wb-stl-heading1">

        <h1 style=" text-align: center; font-family: 'Raleway', sans-serif; ">
            
            <font color="black" >Schemes for women & new born in India</font>
        </h1>
        
    </h1>

    <div class="content"> <div class="ngo">
        <h2 class="ngo_heading">1.Pradhan Mantri Matru Vandana Yojana</h2>
        <p>Pradhan mantri matru vandana yojana is a maternity benefit program run by Government of India. It was launched on 2010 as Indira Gandhi Matritva Sahyog Yojana (IGMSY). Later it was renamed as Pradhan Mantri Matru Vandana Yojana (PMMVY) in 2016.
            The objectives of the scheme are:
            providing partial compensation for the wage loss in terms of cash incentives so that the woman can take adequate rest before and after delivery of the first living child; and
            the cash incentives provided would lead to improved health seeking behaviour amongst the Pregnant Women and Lactating Mothers (PW&LM). 
            Under Pradhan Mantri Matru Vandana Yojana, the pregnant women and lactating mothers will get Rs. 5000 as incentive to be paid in 3 installments from Government of India.</p><center>
    <a href="tel: 011-23382393 " target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:igmsy.hq@gmail.com." target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="https://web.umang.gov.in/landing/department/pmmvy.html" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>


    <div class="ngo">
        <h2 class="ngo_heading">2.Mathrushree scheme</h2>
        <p> Mathrushree scheme is for pregnant women in Karnataka. As per this scheme, pregnant women will get a total allowance of Rs. 6000 from the Government of Karnataka.

            In this scheme, Rs.1000 per month is being directly transferred to the Aadhaar linked bank account of pregnant women of BPL families for three months prior to the delivery and three months after the delivery.  So, the pregnant mother will get Rs. 1000 per month on seventh, eight and ninth month of pregnancy and Rs. 1000 per month on first , second and third month after delivery.
            
            The amount is being directly transferred to the Aadhaar linked bank account of pregnant women of BPL families for three months prior to the delivery and three months for the lactating mother.
        </p><center>
    <a href="tel:080-22355984" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="https://www.actionaidindia.org/" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>


    <div class="ngo">
        <h2 class="ngo_heading">3.Muthulakshmi Maternity Benefit Scheme </h2>
        <p>This scheme aims to provide financial assistance of  Rs. 18000 to poor pregnant mothers in Tamil Nadu for first 2 deliveries. Dr Muthulakshmi Maternity Benefit scheme also provides Amma Maternity Nutrition Kit aimed at providing iron tonic and nutritional supplements to pregnant women in Tamil Nadu.

            Benefits of the scheme will be provided in 5 cash installments and in two Nutrition kits, as shown below. Conditions to be satisfied to avail benefits under the scheme is also provided below.<br> 1st installments: antenatal registration on or before 12 weeks:Rs 2,000.<br>2nd installment:after 4 months : Rs 2,000.</br>3rd installment : after delivery :Rs 4,000.<br>4th installment: after compleyion of all 3rd doses of OPV/Penta valent and 2nd doses of IPV :Rs 4,000<br>5th installment : afer completion of measles and rubella vaccination between 9th and 12th month of infants : Rs2,000.
        </p><center>
    <a href="tel:04343-239500" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto: Collrkgi@nic.in" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="https://krishnagiri.nic.in/scheme/dr-muthulakshmi-maternity-benefit-scheme/" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>

    <div class="ngo">
        <h2 class="ngo_heading">4.Janani Suraksha Yojana </h2>
        <p>JananiSurakshaYojana (JSY) is a safe motherhood intervention under the National Health Mission. It is being implemented with the objective of reducing maternal and neonatal mortality by promoting institutional delivery among poor pregnant women. 
        <center>
    <a href="tel:011-23061360" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:nehagarg.irs@gov.in" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href=" https://vikaspedia.in/health/nrhm/national-health-programmes-1/janani-suraksha-yojana" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>

    <div class="ngo">
        <h2 class="ngo_heading">5.Janani shishu suraksha karayakaram<br>
             </h2>
        <p>entitles every pregnant woman to free delivery, including for caesarean section, in public health institutions along with the provision of free transport, diagnostics, medicines, other consumables, diet and blood.
    <center>
    <a href="tel:011-23061360" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:nehagarg.irs@gov.in" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="https://nhm.assam.gov.in/schemes/janani-shishu-suraksha-karyakaram" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>

    <!-- <div class="ngo">
        <h2 class="ngo_heading">6. Mazi Kanya Bhagyashree Scheme <br>(An NGO Empowering Women & Girls)</h2>
        <p>The girl child’s mother receives Rs. 5000 every year for the first 5 years after the birth of the girl child. Subsequently, financial aid of Rs. 2500 per year is provided till the girl child is enrolled in 5th class.

            After this, the financial aid is increased to Rs. 3000 per year till the girl child is enrolled in class 12. Once she attains the age of 18 years, she will receive Rs. 1 lakh annually for her education. Further payouts may be available to the girl child for further studies.</p>

        <center>
    <a href="tel:+911204048250" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:cbox-ap@careindia.org" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="https://www.careindia.org/" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div>

    <div class="ngo">
        <h2 class="ngo_heading">7. Balika Samriddhi Yojana<br></h2>
        <p>The amounts shall be deposited in an interest-bearing account to be opened in the name of the beneficiary girl child and an officer designated in this behalf by the State Government/Union Territory Administration in the nearest bank or post office. The choice of a bank or a post office for the purpose of opening the account will be of the State Government/Union Territory Administration. The account should earn the maximum possible rate of interest. In this context, the Public Provident Fund scheme or the National Savings Certificate scheme should be given the highest priority and the Savings Bank Account scheme the lowest
        </p><center>
    <a href="tel:+919440860271" target=""><button><span class="fa fa-phone fa-lg"></span><b> Contact</b></button></a>
    <a href="mailto:vijayrukminirao@gmail.com" target="_blank"><button><span class="fa fa-envelope-o fa-lg"></span><b> Email</b></button></a>
    <a href="http://gramya.org.in/" target="_blank"><button><span class="fa fa-external-link fa-lg"></span><b> Website</b></button></a></center> <hr> </div> -->


</div>
{% endblock %}