
.container{
width:100%;
display: flex;
justify-content: center;
height:600px;
}

.bg{
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-vx8VCeUqcddR678jG9y40oDu4TBa3DgPYg&usqp=CAU");
    background-repeat: no-repeat;
    width:100%;

    height:100vh;
    background-size:cover;
    /* background-position:center; */
    position:absolute;
    margin:0px;

}
body{

    margin:0px;
}