{% extends 'user_nav.html' %}
{% load static %}
{% block body %}
<body >
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
  background-image: url("https://images.pexels.com/photos/7116587/pexels-photo-7116587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  font-family: 'Raleway', sans-serif;
  
background-attachment: fixed;
   
-webkit-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



table, th, td {
    width:100%;
    border: 1px solid black;
    height: 50px;
  vertical-align: center;
  text-align: center;

  }
tr:hover {background-color: #f5f5f5;}


.borderBottom {
    border-bottom: 1px solid #939393;
    margin-bottom: 20px;
}




input {
    font: inherit;
}

input:focus {
    outline: none;
}


/*-------------------- BMI CALC PAGE STYLING ----------------------------------------------------------------------------------*/
.Bmi_calc{
    background-image: linear-gradient(to right top, rgba(229, 231, 178, 0.767), rgba(178, 233, 106, 0.7), rgba(221, 139, 191, 0.7));
    text-align: center;
}

/*----- browse page styling ------------------------------------------------------------------------------------------------------*/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
/*.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}*/

/* Caption text */
.text {
  color: #121212;
  
  font-size: 50px;
  padding-left: 20px;
 
  position: absolute;
  bottom: 400px;
  width: 140%;
  text-align: center;
  vertical-align:right;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  width: 70%;
  height: 70%;
  padding: 8px 12px;
  position:center;
  top: 0;
}

/* The dots/bullets/indicators */
/*.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}*/

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    color:black;
  font-size: 20px;
  padding-left: 20px;
 
  position: absolute;
  bottom: 400px;
  width: 120%;
  text-align: center;
  vertical-align:right;
}
}
.pageHeadingBig {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Nunito',
        sans-serif;
}


.gridViewContainer {
    display: flex;
    flex-wrap: wrap;
}

.gridViewItem {
    display: inline-block;
    margin: 5px 15px;
    width: 30%;
    max-width: 215px;
    min-width: 150px;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: wrap;
    flex-wrap: wrap;


}

.mySlides {display: none}
img {vertical-align: middle;}



.gridViewItem img {
    width: 100%;
    border-radius: 3px;
    transition: all .4s ease-out;
}

.gridViewItem img:hover {
    filter: url(#spring-grass);
    box-shadow: 0 3px 6px rgba(80, 77, 77, 0.459);
}

.gridViewInfo {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
}

.grid-item{
        background: rgb(219, 130, 58);
        padding: 20px;
        color: #fff;
        text-align: center;
        font-size: 26px;
          opacity: 0.6;
}
.gridViewInfo:hover {
    cursor: pointer;
    color: #2ebd59;
}

.gridViewItem a {
    text-decoration: none;
}




/*----menstrual page styling -----------------------------------------------------------------------------------------------*/

.menstrual1{
    background-image: linear-gradient(to right top, rgba(229, 231, 178, 0.767), rgba(178, 233, 106, 0.7), rgba(221, 139, 191, 0.7));
    padding-left: 5px;
}

.column1 {
    background-image: linear-gradient(to right top, rgba(210, 178, 231, 0.767), rgba(212, 106, 233, 0.7), rgba(224, 133, 191, 0.7));

  }

.cc{
  padding: 10px;
  margin-top: 5px;
  font-family: 'Overpass';
}
.card{
    height: 30vh;
    width: 10vh;
    display: block;
    text-align:center;
    justify-content: center;
    border-color: rgb(224, 129, 147);
    border: 0px;
    background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 11px );
-webkit-backdrop-filter: blur( 11px );
border-radius: 40px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.card-img-top{
    text-align: center;
    height: 15vh;
    width:15vh;
    top:70px;
    left:80px;
    position:absolute;
    
     
}
.card-img-bottom{
  justify-content: center;
  height: 0vh;
}
.card-title{
  text-align: center;
  font-weight: 900;
  font-size:17px;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
}

</style>
<div class="css-selector">
<div class="container cc">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap" rel="stylesheet">


<left>

        
    

      </div>
      
</center>

    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
    </script>
    
    
      <div class="container">
      <div class="card-deck">
        <div class="card">
          <a href="https://www.whattoexpect.com/pregnancy/eating-well/week-11/big-nutrition-small-packages.aspx" class="card-link">
            <img src="{% static 'images/restaurant.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">IDEAL FOODS TO EAT</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.webmd.com/baby/what-to-know-about-drinking-water-during-pregnancy" class="card-link">
          <img src="{% static 'images/glass.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">FLUID INTAKE</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.unlockfood.ca/en/Articles/Pregnancy/Food-Safety-During-Pregnancy.aspx#:~:text=Keep%20raw%20meat%2C%20fish%2C%20shellfish,%2C%20shellfish%2C%20poultry%20and%20eggs." class="card-link">
            <img src="{% static 'images/salad.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">GUIDELINES FOR SAFE FOOD HANDLING</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.mayoclinic.org/healthy-lifestyle/pregnancy-week-by-week/in-depth/pregnancy-nutrition/art-20043844" class="card-link">
          <img src="{% static 'images/no-food.png' %}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">FOODS TO AVOID</h5>
          </div>
        </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="card-deck">
        <div class="card">
          <a href="https://www.healthline.com/health/pregnancy/pica-in-pregnancy"class="card-link">
          <img src="{% static 'images/fried-chicken.png' %}" class="card-img-top" alt="..." ></a>
          <div class="card-body">
            <h5 class="card-title">PICA</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.cdc.gov/reproductivehealth/maternalinfanthealth/pregnancy-weight-gain.htm" class="card-link">
          <img src="{% static 'images/weight-scale.png' %}" class="card-img-top" alt="..." ></a>
          <div class="card-body">
            <h5 class="card-title">WEIGHT GAIN</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.healthline.com/health/pregnancy/pregnancy-hunger" class="card-link">
          <img src="{% static 'images/appetite.png' %}" class="card-img-top" alt="..." ></a>
          <div class="card-body">
            <h5 class="card-title">APPETITE CHANGES</h5>
          </div>
        </div>
        <div class="card">
          <a href="https://www.healthgrades.com/right-care/pregnancy/7-pregnancy-tips-to-keep-your-digestive-system-happy" class="card-link">
          <img src="{% static 'images/stomach.png' %}" class="card-img-top" alt="..." ></a>
          <div class="card-body">
            <h5 class="card-title">DIGESTION</h5>
          </div>
        </div>
        </div>
        </div>
        
        
        
      </div>
</body>
    {% endblock %}